<header>
  <h2>Trolley Ninja</h2>
</header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/photo"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-map-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  </ul>
</nav>